body {

    margin: 0;

    padding: 0;

    min-height: 100vh;

    display: flex;

    align-items: center;

    justify-content: center;  

    font-family: sans-serif;

    background-color: #f1f1f1; 

}

.container .card .icon {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: #2c73df;

    

}



.container .card .slide .content {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center align the image and text */
} 

.container .card .slide .content .text {
    margin-top: 50px; /* Add spacing between the image and the text */
    text-align: center; /* Center the text */
    color: #414141; /* Set a visible text color */
    font-size: 13px; /* Adjust font size as needed */
    position: absolute; /* Ensure it is positioned relative to its parent */
    z-index: 2; /* Bring it above other elements */
}

.container .card .icon .avatar {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 80px;

    color: #fff;

    width: 100px;
    border: none;
    border-radius: 10px;
    image-rendering: crisp-edges;

}

.container .card .slide {

    width: 300px;

    height: 200px;

    transition: 0.5s;

}

.container .card .slide.slide1 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 1;

    transition: .7s;

    transform: translateY(100px);
}

.container .card:hover .slide.slide1{

    transform: translateY(0px);
    

}

.container .card .slide.slide2 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px;

    box-sizing: border-box;

    transition: .8s;

    transform: translateY(-100px);

    box-shadow: 0 20px 40px rgba(0,0,0,0.4);

    
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px ;

}

.container .card:hover .slide.slide2{

    transform: translateY(0);

}

.container .card .slide.slide2::after{

    content: "";

    position: absolute;

    width: 30px;

    height: 4px;

    bottom: 15px;

    left: 50%;

    left: 50%;

    transform: translateX(-50%);

    background: #2c73df;

}

.container .card .slide.slide2 .content p {

    margin: 0;

    padding: 0;

    text-align: center;

    color: #414141;

}

.container .card .slide.slide2 .content h3 {

    margin: 0 0 10px 0;

    padding: 0;

    font-size: 24px;

    text-align: center;

    color: #414141;

}